---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle: string = "About me";

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
const happy: boolean = true;
const finished = true;
const goal = 3;

const skillColor = "orange";
---

<BaseLayout pageTitle={pageTitle}>
  <style define:vars={{ pls: skillColor }}>
    .skill {
      color: var(--pls);
      font-weight: bold;
    }
  </style>
  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>

  {
    happy && (
      <p>
        <strong>Happy boi</strong>
      </p>
    )
  }
  {finished && <p>I am done</p>}
  <p>I have {goal} goals</p>

  <p>
    I am working through Astro's introductory tutorial. This is the second page
    on my website, and it's the first one I built myself!
  </p>

  <p>
    This site will update as I complete more of the tutorial, so keep checking
    back and see how my journey is going!
  </p>
</BaseLayout>
