---
import Blogpost from "../components/Blogpost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { type MarkdownFrontMatter } from "../layouts/MarkdownPostLayout.astro";
const allPosts = await Astro.glob<MarkdownFrontMatter>("../pages/posts/*.md");
---

<BaseLayout pageTitle="My blog">
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post) => post.url ? 
        <li>
          <Blogpost url={post.url} title={post.frontmatter.title} />
        </li> : <></>
      )
    }
  </ul>
</BaseLayout>
