---
const styleA =
  "font-sans text-lg font-medium md:text-base hover:text-teal-700 hover:-translate-y-1 duration-300";
---

<div class="nav-links">
  <a class={styleA} href="/">Home</a>
  <a class={styleA} href="/about/">About</a>
  <a class={styleA} href="/blog/">Blog</a>
  <a class={styleA} href="/tags/">Tags</a>
</div>
