---
const styleA =
  "font-sans text-lg font-medium md:text-base hover:text-teal-700 hover:-translate-y-1 duration-300";
---

<div>
  <div class="hidden sm:block">
    <a class={styleA} href="/">Home</a>
    <a class={styleA} href="/about/">About</a>
    <a class={styleA} href="/blog/">Blog</a>
    <a class={styleA} href="/tags/">Tags</a>
  </div>
  <div id="jollof-hamburger" class="sm:hidden">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20">
      <line
        class="stroke-2 stroke-gray-800 origin-center transition-transform duration-300 -translate-y-1/3"
        x1="0%"
        x2="100%"
        y1="50%"
        y2="50%"></line>
      <line
        class="stroke-2 stroke-gray-800 origin-center transition-transform duration-300"
        x1="0%"
        x2="100%"
        y1="50%"
        y2="50%"></line>
      <line
        class="stroke-2 stroke-gray-800 origin-center transition-transform duration-300 translate-y-1/3"
        x1="0%"
        x2="100%"
        y1="50%"
        y2="50%"></line>
    </svg>
  </div>
</div>

<script is:inline>
  const el = document.querySelector("#jollof-hamburger");

  if (!el) {
    throw new Error("cant find hamburger, shite!");
  }
  const styleLines = [
    {
      open: ["rotate-45"],
      closed: ["-translate-y-1/3"],
    },
    {
      open: ["-translate-x-full"],
      closed: [],
    },
    {
      open: ["-rotate-45"],
      closed: ["translate-y-1/3"],
    },
  ];
  el.addEventListener("click", (e) => {
    const menuOpen = el.classList.toggle("menu-is-open");
    console.log("hamburger clicked: ", e);
    const lines = el.querySelectorAll("line");
    lines.forEach((line, i) => {
      const conf = styleLines[i];
      if (menuOpen) {
        conf.closed.forEach((s) => line.classList.remove(s));
        conf.open.forEach((s) => line.classList.add(s));
      } else {
        conf.closed.forEach((s) => line.classList.add(s));
        conf.open.forEach((s) => line.classList.remove(s));
      }
    });
  });
</script>
